<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <title>Vue Todo Tutorial</title>
    <style>
        .empty {
            border-color: red;
        }
        .completed {
            text-decoration: line-through;
        }
        .selected {
            color: red;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" placeholder="Add todo" v-bind:class="{empty: !count}"
           v-model="new_todo" v-on:keyup.enter="addTodo">
    <span v-if="!count" style="color: red">Please Input Your Task.</span>

    <ul>
        <li v-for='todo in filtredTodos' :key='todo.id'>
            <span v-bind:class="{completed: todo.completed}" v-on:dblclick="editTodo(todo)">{{ todo.title }}</span>
            <input v-if="!todo.completed" type="button" value="Mark as Done" v-on:click="markAsCompleted(todo)" >
            <input v-if="todo.completed" type="button" value="Mark as Todo" v-on:click="markAsCompleted(todo)" >
            <input type="button" value="Delete" v-on:click="deleteTodo(todo)">
            <input type="text" v-if="edited_todo !== null && edited_todo.id === todo.id" v-model="todo.title"
                   v-on:keyup.enter="editDone(todo)" v-on:keyup.esc="cancelEdit" v-focus="true" value="Edit"/>
        </li>
    </ul>
    <div v-if="deleted_todo.length">
        <br>
        <input type="button" value="Undo" v-on:click="restoreTodo"/>
    </div>
    <div>
        <input type="button" v-if="leftTodosCount"
               value="Mark all as done"
               v-on:click="markAllAsCompleted"/>
    </div>
    <div>
        <span> {{leftTodosCount}} tasks to be finished.</span>
        <span> Show：
            <input type="button" value="All"
                    v-bind:class="{selected: intention === 'all'}"
                    @click="intention='all'"/>
            <input type="button" value="Doing"
                   v-bind:class="{selected: intention === 'doing'}"
                    @click="intention='doing'"/>
            <input type="button" value="Done"
                   v-bind:class="{selected: intention === 'done'}"
                   @click="intention='done'"/>
            <input type="button" value="Clear All" v-on:click="clearAll">
            <input type="button" value="Clear Done" v-on:click="clearDone">
        </span>

    </div>


</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script>
    let id = 0;
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                todos: [],
                new_todo: '',
                completed: false,
                deleted_todo: [],
                edited_todo: null,
                intention: 'all'
            }
        },
        methods: {
            send: function () {
                if (this.value.length > 0) {
                    alert('发送成功！');
                    this.value = ''
                } else {
                    alert('Please input sth before submitting.')
                }
            },
            addTodo: function () {
                if (this.new_todo.length > 0) {
                    this.todos.push({id: id++, title: this.new_todo, completed: false});
                    this.new_todo = ''
                }

            },
            markAsCompleted: function (todo) {
                // console.log(todo)
                todo.completed = !todo.completed
            },
            deleteTodo: function (todo) {
                let index = this.todos.indexOf(todo)
                // console.log(todo)
                this.deleted_todo.push([index, todo])

                this.todos.splice(index, 1)

            },
            restoreTodo: function () {
                let res = this.deleted_todo.pop();
                // console.log(res);
                this.todos.splice(res[0], 0, res[1]);
            },

            editTodo: function (todo) {
                this.edited_todo = {id: todo.id, title: todo.title, completed: todo.completed}
            },
            editDone: function (todo) {
                if (todo.title.length === 0) {
                    todo.title = this.edited_todo.title;
                    this.deleteTodo(todo)
                };
                this.edited_todo = null
            },
            cancelEdit: function (todo) {
                todo.title = this.edited_todo.title;
                this.edited_todo = null
            },
            markAllAsCompleted: function () {
                this.todos.map( function (todo) {
                    todo.completed = true; // todo => todo.completed = true;
                })
            },
            clearAll: function () {
                this.deleted_todo = this.todos;
                this.todos = []
            },
            clearDone: function () {
                this.deleted_todo = this.todos.filter(todo => todo.completed);
                this.todos = this.todos.filter(todo => !todo.completed)
            }
        },
        computed: {
            count: function (todo) {
                return this.new_todo.length
            },
            leftTodosCount: function () {
                return this.todos.filter(todo => !todo.completed).length;
            },
            filtredTodos: function () {
                if (this.intention === 'all') {
                    return this.todos;
                } else if (this.intention === 'doing') {
                    return this.todos.filter(todo => !todo.completed)
                } else {
                    return this.todos.filter(todo => todo.completed)
                }
            }
        },
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        }
    })
</script>
</html>

