<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <title>Vue Todo Tutorial</title>
    <style>
        .empty {
            border-color: red;
        }
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" placeholder="Add todo" v-bind:class="{empty: !count}"
           v-model="new_todo" v-on:keyup.enter="addTodo">
    <span v-if="!count" style="color: red">Please Input Your Task.</span>

    <ul>
        <li v-for='todo in todos' :key='todo.id'>
            <span v-bind:class="{completed: todo.completed}">{{ todo.title }}</span>
            <input v-if="!todo.completed" type="button" value="Mark as Done" v-on:click="markAsCompleted(todo)" >
            <input v-if="todo.completed" type="button" value="Mark as Todo" v-on:click="markAsCompleted(todo)" >
            <input type="button" value="Delete">
            <input type="text" value="Edit"/>
        </li>
    </ul>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script>
    let id = 0;
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                todos: [],
                new_todo: '',
                completed: false
            }
        },
        methods: {
            send: function () {
                if (this.value.length > 0) {
                    alert('发送成功！');
                    this.value = ''
                }else{
                    alert('Please input sth before submitting.')
                }
            },
            addTodo: function () {
                if (this.new_todo.length > 0) {
                    this.todos.push({id: id++, title: this.new_todo, completed: false});
                    this.newTodoTitle = ''
                }

            },
            markAsCompleted: function (todo) {
                todo.completed = !todo.completed
            }
        },
        computed: {
            count: function () {
                return this.new_todo.length
            }
        }
    })
</script>
</html>

